<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="106.0.29" targetFramework="net48" />
  <package id="cef.redist.x86" version="106.0.29" targetFramework="net48" />
  <package id="CefSharp.Common" version="106.0.290" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="106.0.290" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
</packages>